* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Piazzolla', 'Helverica', sans-serif;
  color: #111;
}

.letnoselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@import url('./app/styles/header.css');
@import url('./app/styles/index.css');
@import url('./app/styles/form.css');
@import url('./app/styles/main.css');
@import url('./app/styles/response.css');
